:root {
    --app-primary: #f67062;
    --app-secondary: #f69f80;
    --app-tertiary: #f67062;
    --app-mid-gray: #969696;
    --app-dark-gray: #383838;
    --app-background: #f5f5f5;
    --app-accent: #e5e5e5;
  
    --app-spacer: 16px;
  
    --app-border-color: var(--app--accent);
    --app-border-radius-rounded: 5px;
    --app-border-radius-full-rounded: 25px;
  }
  